.container-ul-header {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 32px;
}

.container-navbar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 32px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 32px;
  background-color: #0f0f0f;
}

.item-header {
  color: #ffffff;
}

.container-phone-menu {
  display: flex;
  gap: 16px;
  align-items: center;
}

.phone-menu, .icon-phone{
  color: #ffffff;
}