footer {
  background-color: #333;
  color: #fff;
  padding: 24px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-contact p {
  margin: 0;
  text-align: left;
  margin-top: 10px;
}

.footer-social {
  margin-top: 20px;
  text-align: center;
}

.footer-social p {
  margin: 0;
}

.footer-social a {
  margin: 0 10px;
}
